@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --secondary-50:#FFF;
    --secondary-100:#FAFCFF;
    --secondary-200:#EBEEF3;
    --secondary-300:#BBBFD2;
    --secondary-400:#808498;
    --secondary-500:#606372;
    --secondary-600:#4D4F60;
    --secondary-700:#353741;
    --secondary-800:#1C1C20;
    --secondary-900:#000;

    --primary-50:#EDF0FF;
    --primary-100:#C6DBFF;
    --primary-200:#9BBEFB;
    --primary-300:#799CD8;
    --primary-400:#5270FD;

    --danger-50:#FFEBEB;
    --danger-100:#FDCFCF;
    --danger-200:#EF9595;
    --danger-300:#DB5858;
    --danger-400:#DC3A3A;

    --success-50:#EBFFF1;
    --success-100:#B5EFCE;
    --success-200:#86DEA0;
    --success-300:#82CE91;
    --success-400:#4EB165;
}

.dark{
    --secondary-50:#1E202D;
    --secondary-100:#313441;
    --secondary-200:#404351;
    --secondary-300:#4F525E;
    --secondary-400:#656874;
    --secondary-500:#7D8091;
    --secondary-600:#AEB2C2;
    --secondary-700:#CACBD2;
    --secondary-800:#F1F1F1;
    --secondary-900:#fff;
}

html {
    font-family: 'Montserrat', sans-serif !important;
}

.button{
    @apply inline-block py-2 px-4 rounded-md text-center font-sans font-medium duration-300;
}

.button-primary{
    @apply bg-primary-400 text-primary-50 hover:bg-primary-300 hover:text-white focus:bg-primary-300 focus:text-white focus:ring-2 ring-primary-300 ring-offset-2 ring-offset-secondary-50 dark:ring-offset-secondary-100;
}

.button-secondary{
    @apply bg-secondary-200 text-secondary-800 hover:bg-secondary-300 hover:text-secondary-900 focus:bg-secondary-300 focus:text-secondary-900 focus:ring-2 ring-secondary-300 ring-offset-2 ring-offset-secondary-50 dark:ring-offset-secondary-100;
}

.button-danger{
    @apply bg-danger-400 text-danger-50 hover:bg-danger-300 hover:text-white focus:bg-danger-300 focus:text-white focus:ring-2 ring-danger-300 ring-offset-2 ring-offset-secondary-50 dark:ring-offset-secondary-100;
}

.button-success{
    @apply bg-success-400 text-success-50 hover:bg-success-300 hover:text-white focus:bg-success-300 focus:text-white focus:ring-2 ring-success-300 ring-offset-2 ring-offset-secondary-50 dark:ring-offset-secondary-100;
}

.button-primary-outline{
    @apply text-primary-400 hover:bg-primary-400 hover:text-white focus:bg-primary-400 focus:text-white focus:ring-2 ring-primary-400 ring-offset-2 ring-offset-secondary-50 dark:ring-offset-secondary-100;
}

.button-secondary-outline{
    @apply text-secondary-800 hover:bg-secondary-200 hover:text-secondary-900 focus:bg-secondary-200 focus:text-secondary-900 focus:ring-2 ring-secondary-200 ring-offset-2 ring-offset-secondary-50 dark:ring-offset-secondary-100;
}

.button-danger-outline{
    @apply text-danger-400 hover:bg-danger-400 hover:text-white focus:bg-danger-400 focus:text-white focus:ring-2 ring-danger-400 ring-offset-2 ring-offset-secondary-50 dark:ring-offset-secondary-100;
}

.button-success-outline{
    @apply text-success-400 hover:bg-success-400 hover:text-white focus:bg-success-400 focus:text-white focus:ring-2 ring-success-400 ring-offset-2 ring-offset-secondary-50 dark:ring-offset-secondary-100;
}

.content{
    @apply container mx-auto items-center px-4;
}

.content-box{
    @apply bg-secondary-50 dark:bg-secondary-100 px-6 py-5 rounded-2xl border-2 dark:border-secondary-100 border-secondary-200 duration-300;
}

.prose {
    @apply max-w-full;
}

#mainContent > h2 {
	@apply mt-8 mb-4 text-2xl font-semibold dark:text-white;
}

#mainContent > h3,
#mainContent > h4 {
	@apply mt-8 mb-4 text-xl font-semibold dark:text-white;
}

#mainContent > p {
	@apply mb-4 text-base font-normal text-gray-600 dark:text-gray-400;
}

#mainContent > p > a,
#mainContent > ul > li > a,
#mainContent > ol > li > a {
	@apply font-medium text-gray-700 underline dark:text-gray-300 decoration-1 underline-offset-2 decoration-blue-600 dark:decoration-blue-500;
}

#mainContent > p > a:hover,
#mainContent > ul > li > a:hover,
#mainContent > ol > li > a:hover {
	@apply text-gray-900 decoration-2 dark:text-white;
}

#mainContent > p > code,
#mainContent > ul > li > code,
#mainContent > ol > li > code {
	@apply px-1 font-mono text-sm text-blue-600 break-all dark:text-blue-400;
}

#mainContent > ul {
	list-style: disc;
}

#mainContent > ol {
	list-style: decimal;
}

#mainContent p > strong {
	@apply text-gray-900 dark:text-white;
}

#mainContent > ul,
#mainContent > ol {
	padding-left: 1rem;
}

#mainContent > ul > li,
#mainContent > ol > li {
	@apply mb-4 text-base font-normal text-gray-600 dark:text-gray-400;
}


.dark .mainclass {
    padding-top: calc(150px + 2vh);
    background-image: linear-gradient(180deg, #1B1B1D, rgba(10, 10, 10, 0) 35%);
    /* Make the background-image animated */
    background-attachment: fixed;
    animation: bg 10s linear infinite;
}

@keyframes bg {
    0% {
        background-size: 400% 400%;
    }
    50% {
        background-size: 200% 200%;
    }
    100% {
        background-size: 100% 100%;
    }
}

.mainclass {
    padding-top: calc(150px + 2vh);
    background-image: linear-gradient(180deg, #ffffff, rgba(255, 255, 255, 0) 35%);
}

.test {
    background: radial-gradient(ellipse at center, rgba(0, 94, 245, .5)0, transparent 100%);
}

#TableOfContents>ul>li {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

