<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {{ or .Title .Site.Title }}
    {{ if ne .Kind "home" }} |
    {{ .CurrentSection.Title }}
    {{ end }}
  </title>
  {{ $style := resources.Get "style.css" }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  <script>
    // On page load or when changing themes, best to add inline in `head` to avoid FOUC
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark');
    } else {
      document.documentElement.classList.remove('dark')
    }
  </script>
  {{/* <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-0994GMPHVG"></script>
    <script>
        function gtag() {
            dataLayer.push(arguments)
        }
        window.dataLayer = window.dataLayer || [], gtag("js", new Date), gtag("config", "G-0994GMPHVG")
    </script>  */}}
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

  <link type="application/json+oembed" href="https://paymenter.org/home.json" />
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://paymenter.org/" />
  <meta property="og:title" content="Paymenter" />
  <meta property="og:description" content="Paymenter is an open source payment gateway for your hosting." />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://paymenter.org/" />
  <meta property="twitter:title" content="Paymenter" />
  <meta property="twitter:description" content="Paymenter is an open source payment gateway for your hosting." />
  <meta name="twitter:image" content="https://cdn.discordapp.com/attachments/935234707015229511/1028031007573680318/unknown.png" data-rh="true">
  <meta property="og:image" content="https://cdn.discordapp.com/attachments/935234707015229511/1028031007573680318/unknown.png" data-rh="true">
</head>

<body>
  <script>
    window.addEventListener('scroll', function() {
      const navbar = document.querySelector('nav');
      if (window.scrollY > 0) {
        navbar.classList.add('shadow');
      } else {
        navbar.classList.remove('shadow');
      }
    });
    var themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
    var themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');

    // Change the icons inside the button based on previous settings
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia(
        '(prefers-color-scheme: dark)').matches)) {
      themeToggleLightIcon.classList.remove('hidden');
    } else {
      themeToggleDarkIcon.classList.remove('hidden');
    }

    var themeToggleBtn = document.getElementById('theme-toggle');

    themeToggleBtn.addEventListener('click', function() {

      // toggle icons inside button
      themeToggleDarkIcon.classList.toggle('hidden');
      themeToggleLightIcon.classList.toggle('hidden');

      // if set via local storage previously
      if (localStorage.getItem('color-theme')) {
        if (localStorage.getItem('color-theme') === 'light') {
          document.documentElement.classList.add('dark');
          localStorage.setItem('color-theme', 'dark');
        } else {
          document.documentElement.classList.remove('dark');
          localStorage.setItem('color-theme', 'light');
        }

        // if NOT set via local storage previously
      } else {
        if (document.documentElement.classList.contains('dark')) {
          document.documentElement.classList.remove('dark');
          localStorage.setItem('color-theme', 'light');
        } else {
          document.documentElement.classList.add('dark');
          localStorage.setItem('color-theme', 'dark');
        }
      }

    });
  </script>

  <body class="bg-secondary-50 text-secondary-700">

    <div class="bg-primary-50 dark:bg-secondary-100 border-b dark:border-secondary-300 border-secondary-300 py-2">
      <div class="content flex items-center justify-between">
        {{ $logo := resources.Get "image/textlogo.png" }}
        <img src="{{ $logo }}" alt="Paymenter Logo" class="h-8">
        <div class="flex items-center gap-x-8">
          <a href="/">
            Home
          </a>
          <a href="/docs/getting-started/introduction/">
            Documentation
          </a>
          <a href="https://discord.gg/paymenter" target="_blank">
            Get Help
            <i class="ri-arrow-right-up-line"></i>
          </a>
          <a href="https://github.com/Paymenter" target="_blank">
            Github
            <i class="ri-arrow-right-up-line"></i>
          </a>
          <a href="https://demo.paymenter.org" class="button button-primary">
            Try Demo Version
          </a>
        </div>
      </div>
    </div>

    <div class="min-h-[calc(100vh-60px)] flex flex-col justify-between items-center overflow-hidden bg-primary-50 dark:bg-secondary-100">
      <div class="pt-32 pb-16 content text-center">
        <h1 class="text-5xl text-secondary-900 font-medium max-w-2xl mx-auto mb-2">Open-Source Gateway System Alternative for Hostings</h1>
        <p class="max-w-2xl mx-auto">Paymenter is an open source webshop solution for hosting companies. It's developed to provide an more easy way to manage your hosting company.</p>
        <div class="flex justify-center gap-x-2 mt-4">
          <a href="#" class="button button-primary">Get Started <i class="ri-arrow-right-up-line"></i></a>
          <a href="#" class="button button-primary-outline"><i class="ri-discord-fill"></i> Discord</a>
        </div>
      </div>
      {{ $laptop := resources.Get "image/laptop.svg"}}
      <img src="{{ $laptop.RelPermalink }}" alt="Paymenter Laptop" class="w-full max-w-5xl mx-3">

      <div class="my-16 flex gap-x-16 items-center">
        <span class="text-sm text-secondary-600">Intergrated With:</span>
        {{ $pterodactyl := resources.Get "image/pterodactyl.svg" }}
        <img src="{{ $pterodactyl.RelPermalink }}" alt="Pterodactyl" class="h-7 grayscale dark:grayscale-0 hover:grayscale-0 duration-300">
        {{ $stripe := resources.Get "image/stripe.svg" }}
        <img src="{{ $stripe.RelPermalink }}" alt="stripe" class="h-8 grayscale dark:grayscale-0 hover:grayscale-0 duration-300">
        {{ $paypal := resources.Get "image/paypal.svg" }}
        <img src="{{ $paypal.RelPermalink }}" alt="paypal" class="h-8 grayscale dark:grayscale-0 hover:grayscale-0 duration-300">
        <a href="/docs/getting-started/extensions/" class="text-secondary-600 underline">more <i class="ri-add-line"></i></a>
      </div>
    </div>

    <div class="content py-16">
      <h3 class="text-3xl font-semibold text-secondary-800 mb-2">Hosting Billing of the Future</h3>
      <p class="mb-7 max-w-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, delectus. Doloremque quaerat nobis atque magnam.</p>
      <div class="grid grid-cols-12 gap-4">
        <div class="md:col-span-4 col-span-12 content-box">
          <div class="w-14 h-14 bg-primary-100 text-primary-400 text-3xl flex items-center justify-center rounded-lg mb-3">
            <i class="ri-sparkling-line"></i>
          </div>
          <h3 class="text-lg font-semibold">Time Saving</h3>
          <p>Save time with automated billing and service activation and suspession.</p>
        </div>
        <div class="md:col-span-4 col-span-12 content-box">
          <div class="w-14 h-14 bg-primary-100 text-primary-400 text-3xl flex items-center justify-center rounded-lg mb-3">
            <i class="ri-flashlight-line"></i>
          </div>
          <h3 class="text-lg font-semibold">Fast Loading</h3>
          <p>Programmed with the latest technologies for the fastest loading speed.</p>
        </div>
        <div class="md:col-span-4 col-span-12 content-box">
          <div class="w-14 h-14 bg-primary-100 text-primary-400 text-3xl flex items-center justify-center rounded-lg mb-3">
            <i class="ri-folder-shield-2-line"></i>
          </div>
          <h3 class="text-lg font-semibold">Highly Secure</h3>
          <p>With advanced protection systems, your data is safe with Paymenter.</p>
        </div>
        <div class="md:col-span-4 col-span-12 content-box">
          <div class="w-14 h-14 bg-primary-100 text-primary-400 text-3xl flex items-center justify-center rounded-lg mb-3">
            <i class="ri-brush-line"></i>
          </div>
          <h3 class="text-lg font-semibold">Fully Customizable</h3>
          <p>Without programming skills, you can make Paymenter completely match to your branding.</p>
        </div>
        <div class="md:col-span-4 col-span-12 content-box">
          <div class="w-14 h-14 bg-primary-100 text-primary-400 text-3xl flex items-center justify-center rounded-lg mb-3">
            <i class="ri-compasses-2-line"></i>
          </div>
          <h3 class="text-lg font-semibold">User Friendly</h3>
          <p>With a dedicated team for making the user experience useable for anyone.</p>
        </div>
        <div class="md:col-span-4 col-span-12 content-box">
          <div class="w-14 h-14 bg-primary-100 text-primary-400 text-3xl flex items-center justify-center rounded-lg mb-3">
            <i class="ri-open-source-line"></i>
          </div>
          <h3 class="text-lg font-semibold">Free & Open Source</h3>
          <p>Open source and free to use, so you can invest your budget in the things that really matter.</p>
        </div>
        <div class="md:col-span-4 col-span-12 content-box">
          <div class="w-14 h-14 bg-primary-100 text-primary-400 text-3xl flex items-center justify-center rounded-lg mb-3">
            <i class="ri-crop-2-line"></i>
          </div>
          <h3 class="text-lg font-semibold">Scalable</h3>
          <p>Paymenter is made for large and small scale, and is made so it can handle any amount of users.</p>
        </div>
        <div class="md:col-span-4 col-span-12 content-box">
          <div class="w-14 h-14 bg-primary-100 text-primary-400 text-3xl flex items-center justify-center rounded-lg mb-3">
            <i class="ri-crop-2-line"></i>
          </div>
          <h3 class="text-lg font-semibold">SEO Optimised</h3>
          <p>Easily improve your search result with the advanced SEO options.</p>
        </div>
        <div class="md:col-span-4 col-span-12 content-box !bg-secondary-100 dark:!bg-secondary-50 flex flex-col">
          <h3 class="text-lg font-semibold">And so much more!</h3>
          <p>Start using Paymenter for free today and experience all the advantages.</p>
          <div class="mt-auto pt-3">
            <a href="/docs/getting-started/introduction/" class="button button-primary mt-auto">Get Started <i class="ri-arrow-right-up-line"></i></a>
          </div>
        </div>
      </div>
    </div>


    <footer class="bg-white dark:bg-secondary-100">
      <div class="content p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
            <a href="/" class="flex items-center">
              <img src="{{ $logo }}" class="h-8 mr-3" alt="Paymenter Logo" />
            </a>
          </div>
          <div class="grid grid-cols-2 gap-8">
            <div>
              <h2 class="mb-6 text-sm font-semibold text-secondary-900 uppercase">Resources</h2>
              <ul class="text-secondary-600 font-medium">
                <li class="mb-4">
                  <a href="/docs/getting-started/introduction/" class="hover:underline">Documentation</a>
                </li>
                <li>
                  <a href="https://github.com/orgs/Paymenter/people" class="hover:underline">Team</a>
                </li>
              </ul>
            </div>
            <div>
              <h2 class="mb-6 text-sm font-semibold text-secondary-900 uppercase">Follow Us</h2>
              <ul class="text-secondary-600 font-medium">
                <li class="mb-4">
                  <a href="https://github.com/Paymenter" class="hover:underline">Github</a>
                </li>
                <li>
                  <a href="https://discord.gg/paymenter" class="hover:underline">Discord</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <hr class="my-6 border-secondary-200 sm:mx-auto lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-secondary-500 sm:text-center">© 2023 <a href="https://paymenter.org/" class="hover:underline">Paymenter</a>. All Rights Reserved.
          </span>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
  </body>