<nav class="flex flex-wrap">
    {{ $tabToggle := delimit (shuffle (slice "a" "b" "c" "d" "e" "f")) "" }}
    <div class="flex flex-wrap" id="nav-tab" role="tablist" data-tabs-toggle="#{{ $tabToggle }}" id="">
        {{ $tabTotal := .Get "tabTotal" }} {{ $tabRightAlign := .Get "tabRightAlign" }} {{ $tabName := .Scratch.Get
        "tabName" }} {{ $tabID := .Scratch.Get "tabID" }} {{ range $i, $sequence := (seq $tabTotal) }}

        <button
            class="flex items-center justify-center button button-primary m-1 {{ if eq $i 0 }} !text-white {{ else }} !text-gray-400 {{end}}{{ if in $tabRightAlign (add 1 $i) }} ml-auto {{ end }}"
            id="nav-{{ (index $tabID $i) }}" data-tabs-target="#{{ (index $tabID $i) }}" data-toggle="tab" role="tab"
            aria-controls="nav-home" aria-selected="true">{{ (replaceRE "(\\s)" " " (index $tabName $i)) }}</button> {{
        end }}
    </div>
</nav>
<div class="tab-content" id="{{ $tabToggle }}">
    {{ .Inner }}
</div>

<script>
    var tabContents = document.querySelectorAll('[data-tabs-toggle]');
    var tabToggles = document.querySelectorAll('[data-tabs-toggle="#{{ $tabToggle }}"] button');
    var dontAddToHash = true;
    tabToggles.forEach(function (tabToggle) {
        tabToggle.addEventListener('click', function (el) {
            var target = document.querySelector(tabToggle.dataset.tabsTarget);
            var children = Array.from(document.getElementById('{{ $tabToggle }}').children);
            children.forEach(function (child) {
                child.classList.remove('block');
                child.classList.add('hidden');
            });
            target.classList.remove('hidden');
            target.classList.add('block');

            var active = document.querySelectorAll('[data-tabs-toggle="#{{ $tabToggle }}"] button');
            active.forEach(function (active) {
                active.classList.remove('!text-white');
                active.classList.add('!text-gray-400');
            });

            el.target.classList.remove('!text-gray-400');
            el.target.classList.add('!text-white');

            console.log(el)

            var hash = el.target.dataset.tabsTarget;

            if (history.pushState) {
                if (!dontAddToHash) history.pushState(null, null, hash);
            } else {
                if (!dontAddToHash) location.hash = hash;
            }
        });
    });


    document.addEventListener('DOMContentLoaded', function () {
        // Check what id is in the URL
        var hash = window.location.hash;
        var tab = document.querySelector('[data-tabs-target="' + hash + '"]');
        var tabContents = Array.from(document.querySelectorAll('[data-tabs-toggle="#{{ $tabToggle }}"] button'));

        var hashExistsInTabContents = tabContents.some(function (tabContent) {
            console.log(tabContent.id, hash)
            return '#nav-' + tabContent.id === hash;
        });

        if (tab && hashExistsInTabContents) {
            tab.click();
        } else {
            console.log(tabContents[0])
            tabContents[0].click();
        }

        dontAddToHash = false;
    });



</script>